################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/PaymentContext/.vs/PaymentContext/v15/Server/sqlite3
/PaymentContext/.vs/config
